RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([a-z]+)/overzicht/$ overzicht.php?cat=$1
RewriteRule ^([a-z]+)/overzicht/([0-9]+)/$ overzicht.php?cat=$1&lim=$2
RewriteRule ^([a-z]+)/overzicht/([0-9]+)/([a-z_]+)/$ overzicht.php?cat=$1&lim=$2&sort=$3
RewriteRule ^([a-z]+)/overzicht/([0-9]+)/([a-z_]+)/([A-Z]{3,4})/$ overzicht.php?cat=$1&lim=$2&sort=$3&dir=$4
RewriteRule ^([a-z]+)/beheren/$ beheren.php?cat=$1
RewriteRule ^logout/$ logout.php
