#scroll_fix {
	overflow-x: scroll;
}

#overzicht tr:hover {
	cursor: pointer;
}

#overzicht th {
	background: #F5F5F5;
}

#resultaten {
	width: 50%;
	margin: 0 auto;
}

#input_limiet {
	min-width: 75px;
}

#richting_toggle {
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
			border-radius: 0px;
}

