#scroll_fix {
	overflow-x: scroll;
}

#overzicht tr:hover {
	cursor: pointer;
}

#overzicht th {
	background: #F5F5F5;
}

#resultaten {
	width: 50%;
	margin: 0 auto;
}

#limit {
	min-width: 75px;
}

#richting_toggle {
	cursor: pointer;
	font-weight: bold;
}

#selected {
	-webkit-border-top-left-radius: 0px;
	   -moz-border-top-left-radius: 0px;
	        border-top-left-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	   -moz-border-bottom-left-radius: 0px;
	        border-bottom-left-radius: 0px;
}