#prnt {
	overflow-x: scroll;
}

#overzicht tr:hover {
	cursor: pointer;
}

#overzicht th {
	background: #F5F5F5;
}

#resultaten {
	width: 50%;
}

#limit {
	min-width: 75px;
}

#richting {
	cursor: pointer;
}